<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="Hangfire" connectionString="Data Source=(LocalDb)\.;Initial Catalog=Hangfire;Integrated Security=True;MultipleActiveResultSets=False;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>